.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: var(--true-background);
    z-index: -1;
}

.bubble {
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;

    background: var(--ntig-gradient);
}

@media (prefers-reduced-motion) {
    .bubble {
        display: none;
    }
}


